
#header{
    background-color: aqua;
    padding:8px;
    
}
#header div{
    display: inline-block;
}
#logo,#nav{  
        
    left:20%;
}
#nav-1{
    position: absolute;     
    right:5%;
}
#header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header ul li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
  }

#News{
    background-color: lightblue;
    height: 440px;
    width:100%;
}
#Area{
    background-image: url("./background/index-section.jpg");
    background-size: cover;
    background-position: center center;
    height: 552px;
    width:100%;
    
}

#Info {
    background-image: url("./background/footer-bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 440px;
    width:100%;
    
}
#guide{
    width: 1200px;
    height: 256px;
    padding: 50px 0px 20px 300px;
    display: flex;
    color: #fff;
}

.info-section {
    flex: 1;
}

.info-section ul {
    list-style-type: none;
    padding: 0;
}

.info-section ul li {
    margin-bottom: 5px;
}

#Button{
    background-color: grey;
    text-align: center;
}
#list_card{
    text-align: center; 
}

.card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
        
}
.ul_card{
    display: inline-block;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card img {
    max-width: 100%;
}
.m-box{
    margin-top: 16px;
    width: 300px; 
    height: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup-content {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Page_close {
    float: right;
    cursor: pointer;
  }

  .Page_close:hover {
    color: red;
  }