
#header{
  border: none;
  background: url(https://buff.163.com/static/images/site/top-bg.png) no-repeat center top;
    padding:8px;
    
}
#header div{
    display: inline-block;
}
#logo,#nav{  
        
    left:20%;
}
#nav-1{
    position: absolute;     
    right:5%;
}
#header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header ul li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
  }

#News{
  background-image: url("https://buff.163.com/static/images/site/index-header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 440px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-width: 1200px;
  z-index: 10;
}
#Area{
    background-image: url("../picture/index-section.jpg");
    background-size: cover;
    background-position: center center;
    height: 552px;
    width:100%;
    
}

#Info {
    background-image: url("../picture/footer-bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 440px;
    width:100%;
    
}
#guide{
    width: 1200px;
    height: 256px;
    padding: 50px 0px 20px 300px;
    display: flex;
    color: #fff;
}


/*news */


.slideshow-container {
  position: absolute;
left: 50%;
top: 12px;
  color: #fff;
}

.slides {
  flex-basis: 50%;
  text-align: right;
}

.slide-img {
  border: none;
  vertical-align: middle;
  width: 960px;
  height: 400px;

}

.text-container {
position: absolute;
margin-left: -600px;
padding-left: 60px;
padding-top: 100px;
height: 380px; 
}

.text {
  font-size: 20px;
  margin-bottom: 10px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #555;
}





.l_Layout{
  width: 1200px;
  margin: 0 auto;
  min-height: 466px;
}
.info-section {
    flex: 1;
}

.info-section ul {
    list-style-type: none;
    padding: 0;
}

.info-section ul li {
    margin-bottom: 5px;
}

#Button{
    background-color: grey;
    text-align: center;
}
#list_card{
    text-align: center; 
}

.card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
        
}
.ul_card{
    display: inline-block;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card img {
    max-width: 100%;
}
.m-box{
    margin-top: 16px;
    width: 300px; 
    height: 0;
}

.popup,#open_pop_sell_table,#open_pop_buy_table{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup-content{
    background-color: #fff;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #popup-sell-content,#popup-buy-content{
    background-color: #fff;
    width: 700px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Page_close {
    float: right;
    cursor: pointer;
  }

  .Page_close:hover {
    color: red;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    z-index: 9999;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .avatar-image {
    border-radius: 50%;
    background-color: #ccc;
  }

  .icon_nodata {
    background: url(picture/hmarket.png);
    width: 313px;
    height: 106px;
}

  .block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c202b;
    color: white;
    padding: 10px;
  }
  
  .l_Left,
  .l_Right {
    display: flex;
    align-items: center;
  }
  
  .l_Right {
    margin-left: auto;
  }
  
  .w-OrderGroup {
    display: flex;
    gap: 10px;
  }
  
  .w-Checkbox,
  .i_Btn {
    margin-left: 10px;
  }
  
  .clear {
    clear: both;
  }
  .selected {
    border: 2px solid orange; /* Red border */
    box-shadow: 0 0 4px orange; /* Red shadow */
  }
  .detail-header {
    background-image: url("../picture/detail-header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 194px;
    border-radius: 2px;
    position: relative;
  }
  
.detail-pic {
  display: flex;
  align-items: center;
}

.text-overlay {
  flex: 1;
  color: #fff;
  text-align: left;
  padding: 20px;
}



.pay-method {
  padding: 20px;
  border-radius: 5px;
}

.pay-method h2 {
  margin-top: 0;
}

.pay-method p {
  margin: 5px 0;
}

.buy-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #45a049;
}

.buy-button.disabled {
  background-color: gray;
}
.pay-method p { display: inline }

/*  selling page*/

.tab {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.tab a {
  text-decoration: none;
  color: white;
}
.tab li {
  margin: 0 10px;
}
.on {
  font-weight: bold;
}


.button-effect {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-effect:hover {
  background-color: #ff0000;
}

/* setting*/
.blank20{
  height: 20px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.cont_panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.cont_panel li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.cont_panel li a.active {
  background-color: #04AA6D;
  color: white;
}

.cont_panel li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.cont_panel{
  position: absolute;
}

/* CSS for the right context page */
.contextPage {
  padding: 10px;
  margin-left: 200px; /* Adjust the margin to match the width of the cont_panel */
  border-radius: 2px;
  padding: 40px 54px;
  min-height: 580px;
  border: 1px solid #ccc;
}

/* CSS for the form */
#profilePage form ,#CreditPage{
  width: 300px;
  margin: 0 auto;
}

#profilePage label ,#CreditPage {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#profilePage input  ,#CreditPage{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
#profileItem ,#CreditPage {
  text-align: center;
}